h1 User Profile Page
p Welcome to your profile page #{user.name}

p User Full Name: #{user.full_name}
p User Username: #{user.username}
p User Membership Status: #{user.membership_status}
p User Admin Status: #{user.admin}

